/* ============================================
   APP LAYOUT
============================================ */

.app-container {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 16px;
  background: #ffffff;
}
